/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #282c36;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#todoInput {
  flex-grow: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;

  /* Adjust the button height to match the input */
  height: 1.8rem; /* Adjust this value as needed */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #3e434e;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #ff6a00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.deleteButton {
  /* add padding on the left */
  padding-left: 1rem;
}